body{
   color:#120A8f;
   background-color: rgb(217, 214, 211);
}


main{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}


.perfil-background{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

#file{
    width: 140px;
  
}

.descricoes{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 800px;
    height: 250px;
    background-color: rgb(255, 255, 255);
}

.about-you{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-about{
    width: 100px;
    height: 100px;
    
}