.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ad-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .ad-content-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .ad-info {
    display: flex;
    flex-direction: column;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .info-item mat-icon {
    margin-right: 5px;
  }
  