<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="vagas">
    <div class="vagas-field">
      <div class="itemName">Programador</div>
      <div class="Salario">2.900</div>
      <div class="Publicado">07/06/2023</div>
      <button mat-raised-button color="primary">Ver vaga</button>
    </div>

    <div class="vagas-field">
      <div class="itemName">Engenheiro de Software</div>
      <div class="Salario">2.900</div>
      <div class="Publicado">07/06/2023</div>
      <button mat-raised-button color="primary">Ver vaga</button>
    </div>
</div>