.home-page-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.nav-search-input{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.example-full-width{
    width: 30rem;
}
.nav-search-icon img{
    cursor: pointer;
}
.set-new-ad{
    display: flex;
    width: 50%;
    justify-content: flex-start;
}
