<app-nav-bar></app-nav-bar>
<div class="home-page-container">
  <div class="set-new-ad">
    <button mat-raised-button color="primary" (click)="adPath()">Criar anúncio</button>
  </div>
  <div class="ufam-ads">
    <div *ngFor="let item of ads" class="ufam-ad-card">
      <div class="ufam-card-ad-name">
        {{item.name}}
      </div>
      <div class="ufam-card-ad-wage">
        Salário : {{item.wage}}
      </div>
      <div class="ufam-card-ad-shift">
        Turno : {{item.shift}}
      </div>
      <div class="ufam-card-ad-date">
        Publicado em : {{item.date}}
      </div>
      <div class="ufam-card-ad-number">
        Vagas : {{item.number}}
      </div>
      <div class="ufam-card-ad-description">
        {{item.description}}
      </div>
    </div>
  </div>
  <div class="home-page-content">
  </div>
</div>