@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.home-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.example-full-width{
    display: flex;
    width: 50%;
}
.ufam-ads {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    overflow-y: auto;
    /* Adicionado para permitir a rolagem dentro de .ufam-ads */
}

.home-page-search {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 20%;
    z-index: 1;
    /* Adicionado para garantir que a barra de pesquisa fique acima de .ufam-ads */
}

.ufam-ad-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 1rem;
    border: 2px solid #120A8F;
    padding: 10px;
    background-color: #120A8F;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    margin-top: 0;
}

.ufam-ad-card:hover {
    cursor: pointer;
}

.ufam-card-ad-name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.ufam-card-ad-name i {
    margin-right: 5px;
}

.ufam-card-ad-wage,
.ufam-card-ad-shift,
.ufam-card-ad-date,
.ufam-card-ad-number {
    margin-bottom: 3px;
}