.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  position: fixed;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-container {
  width: 250px;
  display: block;
}
mat-form-field{
  margin-right: 1rem;
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  border-right: 1px solid #ccc;
}

.upload-button {
  margin-bottom: 10px;
}

.options-list {
  width: 200px;
  margin-right: 20px;
  border-right: 1px solid #ccc;
}

.content-container {
  overflow: hidden;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
}

.content-div {
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px; /* Defina a altura mínima adequada aqui */
}

.mat-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mat-form-group {
  display: flex;
  flex-direction: row;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 5px;
}

li:hover {
  background-color: #e0e0e0;
}

.custom-textarea {
  width: 100%;
  height: 200px;
}

.custom-textarea:focus {
  /* Add animation effect on focus */
  transform: scale(1.02);
}

.scrollable-content {
  max-height: 400px;
  overflow-y: auto;
}
