<app-nav-bar></app-nav-bar>
<main>
    <div class="perfil-background">

        <div class="background-foto">

            <form action="upload.php" method="post" enctype="multipart/form-data">
                <input id="file" type="file" name="profile_picture">
                <input  id="file"  type="submit" value="Upload">
              </form>
              

        </div>

    </div>

    <div class="descricoes">

        <div class="about-you">

            <h3>Sobre Voce</h3>


        </div>

    </div>



</main>