<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="tabs-container">
    <div class="menu-container">
      <div class="profile-container">
        <div class="profile-image"></div>
        <button class="upload-button" mat-raised-button color="primary">
          <mat-icon>attach_file</mat-icon>
          Capture um arquivo
        </button>
      </div>
      <div class="options-list">
        <ul>
          <li (click)="selectOption('Opção 1')">Sobre você</li>
          <li (click)="selectOption('Opção 2')">Alterar dados</li>
        </ul>
      </div>
    </div>
    <div class="content-container">
      <div class="scrollable-content">
        <div *ngIf="selectedOption === 'Opção 1'" class="content-div">
          <mat-label for="">
            Use o campo abaixo para descrever melhor seus objetivos profissionais:
          </mat-label>
          <mat-form-field appearance="fill" class="example-full-width">
            <textarea matInput class="custom-textarea" [(ngModel)]="description"></textarea>
          </mat-form-field>
        </div>
        <div *ngIf="selectedOption === 'Opção 2'" class="content-div">

          <form *ngIf="!isEnterprise" (ngSubmit)="submitForm()">

            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Nome</mat-label>
              <input matInput [(ngModel)]="user.firstName" name="firstName" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Sobrenome</mat-label>
              <input matInput [(ngModel)]="user.surname" name="surname" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Matrícula</mat-label>
              <input matInput [(ngModel)]="user.mat" name="mat" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Data</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="user.date" name="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Rua</mat-label>
              <input matInput [(ngModel)]="user.street" name="street" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Bairro</mat-label>
              <input matInput [(ngModel)]="user.neigh" name="neigh" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>CEP</mat-label>
              <input matInput [(ngModel)]="user.cep" name="cep" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Número</mat-label>
              <input matInput [(ngModel)]="user.number" name="number" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Curso</mat-label>
              <input matInput [(ngModel)]="user.course" name="course" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Descrição</mat-label>
              <textarea matInput rows="4" [(ngModel)]="user.description" name="description" required></textarea>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Telefone</mat-label>
              <input matInput [(ngModel)]="user.phone" name="phone" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Gênero</mat-label>
              <mat-select [(ngModel)]="user.gender" name="gender" required>
                <mat-option value="Masculino">Masculino</mat-option>
                <mat-option value="Feminino">Feminino</mat-option>
                <mat-option value="Outro">Outro</mat-option>
              </mat-select>
            </mat-form-field>
            
            <button mat-raised-button color="primary" type="submit">Alterar</button>
          </form>
  
          <form *ngIf="isEnterprise" (ngSubmit)="submitForm()">

            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Nome</mat-label>
              <input matInput [(ngModel)]="enterprise.name" name="name" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Rua</mat-label>
              <input matInput [(ngModel)]="enterprise.street" name="street" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Bairro</mat-label>
              <input matInput [(ngModel)]="enterprise.neigh" name="neigh" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Número</mat-label>
              <input matInput [(ngModel)]="enterprise.number" name="number" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Descrição</mat-label>
              <textarea matInput rows="4" [(ngModel)]="enterprise.description" name="description" required></textarea>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Telefone</mat-label>
              <input matInput [(ngModel)]="enterprise.phone" name="phone" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>CNPJ</mat-label>
              <input matInput [(ngModel)]="enterprise.cnpj" name="cnpj" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Nacionalidade</mat-label>
              <input matInput [(ngModel)]="enterprise.nacionality" name="nacionality" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]="enterprise.email" name="email" required>
            </mat-form-field>
            
            <button mat-raised-button color="primary" type="submit">Alterar</button>
          </form>
          
  
        </div>
      </div>
    </div>
  </div>
</div>

