.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  position: fixed;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-right: 1rem;
}

mat-label {
  color: #120A8F;
  font-weight: 500;
  font-size: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  border-right: 1px solid #ccc;
}

.upload-button {
  margin-bottom: 10px;
}

.options-list {
  width: 200px;
  border-right: 1px solid #ccc;
}

.content-container {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  margin-left: 5rem;
  display: flex;
}

.tabs-container {
  display: flex;
  height: 100%;
  border-radius: 5px;
  flex-direction: row;
  justify-content: flex-start;
}

.example-full-width {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.example-column {
  display: flex;
  flex-direction: column;
}

.content-div {
  margin-top: 5rem;
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
}

.mat-form {
  display: flex;
  width: 100%;
}

.mat-form-group {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

li:hover {
  background-color: #e0e0e0;
}

.custom-textarea {
  width: 100%;
  height: 100%;
}

.custom-textarea:focus {
  transform: scale(1.02);
}

.scrollable-content {
  max-height: 400px;
  overflow-y: auto;
}

.file-icon {
  margin-right: 5px;
}
.github-icon {
  margin-right: 5px;
}
img{
  margin: auto;
  width: 30px;
}