<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="tabs-container">
    <div class="menu-container">
      <div class="profile-container">
        <div class="profile-image"></div>
        <button class="upload-button" mat-raised-button color="primary">
          <mat-icon>attach_file</mat-icon>
          Capture um arquivo
        </button>
      </div>
      <div class="options-list">
        <ul>
          <li (click)="selectOption('Opção 1')">Sobre você</li>
          <li (click)="selectOption('Opção 2')">Alterar dados</li>
          <li (click)="selectOption('Opção 3')">Arquivos</li>
        </ul>
      </div>
    </div>
    <div class="content-container">
      <div class="scrollable-content">
        <div *ngIf="selectedOption === 'Opção 1'" class="content-div">
          <mat-label for="">Use o campo abaixo para descrever melhor seus objetivos profissionais:</mat-label>
          <mat-form-field appearance="fill" class="example-full-width">
            <textarea matInput class="custom-textarea"></textarea>
          </mat-form-field>
        </div>
        <div *ngIf="selectedOption === 'Opção 2'" class="content-div">
          <form [formGroup]="userForm" (ngSubmit)="submitForm()">

            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Sobrenome</mat-label>
              <input matInput formControlName="surname" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Matrícula</mat-label>
              <input matInput formControlName="mat" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Data</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Rua</mat-label>
              <input matInput formControlName="street" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Bairro</mat-label>
              <input matInput formControlName="neigh" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>CEP</mat-label>
              <input matInput formControlName="cep" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Número</mat-label>
              <input matInput formControlName="number" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Curso</mat-label>
              <input matInput formControlName="course" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Descrição</mat-label>
              <textarea matInput formControlName="description" rows="4" required></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Telefone</mat-label>
              <input matInput formControlName="phone" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-column">
              <mat-label>Gênero</mat-label>
              <mat-select formControlName="gender" required>
                <mat-option value="Masculino">Masculino</mat-option>
                <mat-option value="Feminino">Feminino</mat-option>
                <mat-option value="Outro">Outro</mat-option>
              </mat-select>
            </mat-form-field>


            <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Alterar</button>
          </form>
        </div>

        <div *ngIf="selectedOption === 'Opção 3'" class="content-div">
          <mat-label>Portfólio</mat-label>
          <div class="file-upload-container">
            <button mat-raised-button color="primary" class="upload-button" id="file-upload" accept=".pdf"
              (click)="handleFileUpload($event)">
              <mat-icon>attach_file</mat-icon>
              Anexar curriculum
            </button>
          </div>
          <div class="links-container">
            <div class="link-item">
              <mat-form-field appearance="fill">
                <mat-label>LinkedIn</mat-label>
                <input matInput type="text" [(ngModel)]="linkedinLink" placeholder="Insira o link do LinkedIn">
              </mat-form-field>
              <img src="assets/linkedin.png" alt="LinkedIn Icon" class="linkedin-icon">
            </div>
            <div class="link-item">
              <mat-form-field appearance="fill">
                <mat-label>GitHub</mat-label>
                <input matInput type="text" [(ngModel)]="githubLink" placeholder="Insira o link do GitHub">
              </mat-form-field>
              <img src="assets/github-sign.png" alt="GitHub Icon" class="github-icon">
            </div>
          </div>
          <button mat-raised-button color="primary">Atualizar</button>
        </div>
      </div>
    </div>
  </div>