<div class="container">
    <div class="login-box">
        <div class="login-title">
            <mat-card-title>UFAM<br>JOBS</mat-card-title>
        </div>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="login()">Entrar</button>
        <div class="login-footer">
            <label>Esqueceu sua senha? clique aqui</label>
            <label for="">Criar conta : </label>
            <div class="login-create-account-btn">
                <button mat-raised-button color="primary" (click)="companiesRegister()">Corporativa</button>
                <button mat-raised-button color="primary" (click)="register()">Profissional</button>
            </div>
        </div>
    </div>
</div>