



.container{
    width: 100%;
    height: 100%;
    background-color: #3f51b5;
    color: aliceblue;
}
.login-box{
    border:3px solid rgb(0, 0, 0);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%,-50%);
    justify-content: center;
    padding: 30px;
    background-color: rgb(255, 253, 253) ;
    width: 40%;
    height: 60%;

}

.btt{
    width: 90px;
    padding: 10px;
    
}

.btt:hover{
    background-color: whitesmoke;
    color:#3f51b5;
    transition-duration: 0.5s;
    padding: 10px;
    border: 0.5px solid #3f51b5;
}

.login-box-input{
    display: flex;
    flex-direction: column;
}
.login-title{
    width: 100%;
}
.login-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
mat-card-title{
    color:#3f51b5;
}
.login-footer{
    display: flex;
    flex-direction: column;
    color: #3f51b5;
    
}
.login-footer label{
    margin-top: 1rem;
   
}

.login-footer label:hover{
    border: 1px solid #3f51b5;
    border-radius: 3px;
    padding: 7px;
    transition-duration: 0.7s;

}

.login-footer button{
    margin-top: 1rem;
    width: 6rem;
}




.login-create-account-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login-create-account-btn button{
    margin-left: 0.5rem;
}

.btt-disc:hover{
   background-color: whitesmoke;
   color:#3f51b5;
   transition-duration: 0.5s;
   padding: 10px;
   border: 0.5px solid #3f51b5;
 }



.btt-corp:hover{
        background-color: whitesmoke;
        color:#3f51b5;
        transition-duration: 0.5s;
        padding: 10px;
        border: 0.5px solid #3f51b5;
 }