<div class="container">
    <div class="login-box">
        <div class="login-title">
            <button mat-button color = "primary" class="mat-button--basic" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
                Voltar
            </button>
            <mat-card-title>UFAM JOBS</mat-card-title>
        </div>
        <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input matInput required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Sobrenome</mat-label>
            <input matInput required>
        </mat-form-field>
        <mat-form-field class="example-full-width example-full-size">
            <mat-label>Email</mat-label>
            <input matInput required>
        </mat-form-field>
        <div class="input-type-name">
            <div class="input-type-name-element">
                <mat-form-field class="example-full-width">
                    <mat-label>Rua</mat-label>
                    <input matInput required>
                </mat-form-field>
            </div>
            <div class="input-type-name-element">
                <mat-form-field class="example-full-width">
                    <mat-label>Bairro</mat-label>
                    <input matInput required>
                </mat-form-field>
            </div>
        </div>
        <div class="input-type-name">
            <div class="input-type-name-element">
                <mat-form-field class="example-full-width">
                    <mat-label>Nº:</mat-label>
                    <input matInput required>
                </mat-form-field>
            </div>
            <mat-form-field class="example-full-width">
                <mat-label>CEP</mat-label>
                <input matInput required>
            </mat-form-field>
        </div>
        <div class="input-type-name">
            <div class="input-type-name-element">
                <mat-form-field class="example-full-width">
                    <mat-label>CPF</mat-label>
                    <input matInput required>
                </mat-form-field>
            </div>
            <div class="input-type-name-element">
                <mat-form-field appearance="fill">
                    <mat-label>Sexo</mat-label>
                    <select matNativeControl required autofocus>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </mat-form-field>
            </div>
        </div>
        <div class="input-type-name">
            <div class="input-type-name-element">
                <mat-form-field class="example-full-width">
                    <mat-label>Matrícula</mat-label>
                    <input matInput required>
                </mat-form-field>
            </div>
            <div class="input-type-name-element">
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" (dateInput)="onDateInput($event.value)">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="login-box-submit">
            <button mat-raised-button color="primary" (click)="goHome()">Concluir</button>
        </div>
    </div>
</div>