<div class="container">
    <img src="assets/woman-university.jfif" alt="">
    <div class="login-box">
        <div class="login-title">
            <button mat-button color="primary" class="mat-button--basic" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
                Voltar
            </button>
        </div>
        <mat-tab-group>
            <mat-tab label="Dados Pessoais">

                <div class="input-type-name">
                    <mat-form-field class="example-full-width example-full-size input-type-name-element">
                        <mat-label>Nome</mat-label>
                        <input matInput required [(ngModel)]="user.firstName">
                    </mat-form-field>

                    <mat-form-field class="example-full-width example-full-size input-type-name-element">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput required [(ngModel)]="user.surname">
                    </mat-form-field>
                </div>

                <mat-form-field class="example-full-width example-full-size">
                    <mat-label>Curso : </mat-label>
                    <input matInput required [(ngModel)]="user.email">
                </mat-form-field>

                <mat-form-field class="example-full-width example-full-size">
                    <mat-label>Email</mat-label>
                    <input matInput required [(ngModel)]="user.email">
                </mat-form-field>

                <mat-form-field class="example-full-width example-full-size">
                    <mat-label>Senha</mat-label>
                    <input matInput required [(ngModel)]="user.password">
                </mat-form-field>

            </mat-tab>

            <mat-tab label="Endereço">
                <div class="input-type-name">
                    <div class="input-type-name-element">
                        <mat-form-field class="example-full-width">
                            <mat-label>Rua</mat-label>
                            <input matInput required [(ngModel)]="user.street">
                        </mat-form-field>
                    </div>
                    <div class="input-type-name-element">
                        <mat-form-field class="example-full-width">
                            <mat-label>Bairro</mat-label>
                            <input [(ngModel)]="user.neigh" matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="input-type-name">
                    <div class="input-type-name-element">
                        <mat-form-field class="example-full-width">
                            <mat-label>Nº:</mat-label>
                            <input matInput required [(ngModel)]="user.number">
                        </mat-form-field>
                    </div>
                    <mat-form-field class="example-full-width">
                        <mat-label>CEP</mat-label>
                        <input [(ngModel)]="user.cep" matInput required>
                    </mat-form-field>
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>Telefone:</mat-label>
                    <input matInput required [(ngModel)]="user.number">
                </mat-form-field>

            </mat-tab>
            <mat-tab label="Complementares">
                <div class="input-type-name">
                    <div class="input-type-name-element">
                        <mat-form-field class="example-full-width">
                            <mat-label>CPF</mat-label>
                            <input [(ngModel)]="user.cpf" matInput required>
                        </mat-form-field>
                    </div>
                    <div class="input-type-name-element">
                        <mat-form-field appearance="fill">
                            <mat-label>Sexo</mat-label>
                            <select matNativeControl [(ngModel)]="user.gender" required autofocus>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="input-type-name">
                    <div class="input-type-name-element">
                        <mat-form-field class="example-full-width">
                            <mat-label>Matrícula</mat-label>
                            <input matInput required [(ngModel)]="user.mat">
                        </mat-form-field>
                    </div>
                    <div class="input-type-name-element">
                        <mat-form-field appearance="fill">
                            <mat-label>Data de nasc: </mat-label>
                            <input matInput [matDatepicker]="picker" (dateInput)="onDateInput($event.value)">
                            <mat-hint>dia/mês/ano</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Descrição</mat-label>
                    <textarea matInput rows="4" placeholder="Digite a descrição aqui"></textarea>
                </mat-form-field>

            </mat-tab>
        </mat-tab-group>

        <div class="login-box-submit">
            <button mat-raised-button color="primary" (click)="createUser()">Concluir</button>
        </div>
    </div>
</div>