.container{
    width: 100%;
    height: 100%;
}
.login-box{
    border:0.5px solid #3f51b5;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    justify-content: center;
    padding: 20px;
}
.login-box-input{
    display: flex;
    flex-direction: column;
}
.login-title{
    width: 100%;
}
.login-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
mat-card-title{
    color:#3f51b5;
}
.input-type-name{
    display: flex;
}
.input-type-name-element{
    margin-right: 1rem;
}
.example-full-size{
    display: flex;
    width: 100%;
}.login-box-submit{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}