.nav{
    background-color: #120A8F;
    color: white;
    height: 5rem;
    display: flex;
    align-items: center;
}
.nav-left{
    margin-left: 2rem;
    align-items: center;
}
.nav-right{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.nav-right-element{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin: 0.5rem;
    border-radius: 5px;
}