@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');





.nav{
    background-color: #120A8F;
    width: 100%;
    color: white;
    height: 5rem;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0px;
}
.nav-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    
}

.logo{
    cursor: pointer;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
   margin-left: 190px;
}
.nav-right-element{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 30px;
    margin-right:20px;
    border-radius: 5px;
  

}


a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    color:aliceblue;
}

a:hover{
    background-color: white;
    color: #120A8F;
    transition-delay: 0.8ms;;
    width: 120px;
}
