@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');





.nav {
    background-color: #120A8F;
    width: 100%;
    color: white;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    position: fixed;
}

.nav-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    margin: 1rem;

}

.logo {
    cursor: pointer;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.nav-right-element {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 1rem;
}