<div class="nav">
    <div class="nav-left">
        UFAM JOBS
    </div>

    <div class="nav-right">
        <div class="nav-right-element" (click)="dashboard()">
              <a href="../">Minhas vagas</a> 
        </div>
        <div class="nav-right-element"(click)="profile()">
            <a href="../">Perfil</a>  
        </div>
        <div class="nav-right-element" (click)="config()">
           
            <a href="../">Configurações</a>  
           
        <div class="nav-right-element" (click)="logout()">
          <a href="../">Sair</a>  
        </div>
    </div>
</div>
