<div class="nav">
    <div class="nav-left logo" (click)="homepage()">
        UFAM JOBS
    </div>

    <div class="nav-right">

        <div *ngIf ="!isEnterprise" class="nav-right-element" (click)="dashboard()">
            Dashboard
        </div>
        <div class="nav-right-element" (click)="homepage()">
            Vagas
        </div>
        <div *ngIf="isEnterprise" class="nav-right-element" (click)="vacancies()">

            Minhas vagas

        </div>

        <div class="nav-right-element" (click)="profile()">

            Perfil

        </div>

        <div class="nav-right-element" (click)="config()">

            Configurações

        </div>
    </div>